<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up to the event using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="username">Name</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><label for="creditcard">Credit card</label>: <input type="text" name="creditcard" id="creditcard"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
        <form action="#" th:action="@{/start}" method="GET">
            <p><input type="submit" value="Back" /></p>
        </form>

    </body>
</html>
