
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome ! </title>
    </head>
    <body>

        <h1>Welcome ! Please log in </h1>

        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="name">Username</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Log in" /></p>
        </form>
        
        <form action="#" th:action="@{/start}" method="GET">
            <p><input type="submit" value="Back" /></p>
        </form>
    </body>
</html>